.custom-tooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
}

.dashboard-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.dashboard-header,
.rechart-container {
  flex: 1;
}

.dashboard-header {
  text-align: center;
}

.rechart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
